<div class="modal fade product_view" id="product_view_{{this._id}}" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">{{this.title}}</h3>
                <a href="#" data-dismiss="modal" class="class "><span class="glyphicon glyphicon-remove"></span>X</a>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 product_content">
                        <img src="{{this.imagePath}}" width="150" height="150" alt="">
                        <p class="modalGameDescription">{{this.description}}</p>
                        <h3 class="costFa">تومان {{this.price}}
                            {{#if this.prePrice}}
                            <small class="pre-cost">{{this.prePrice}}</small>
                            {{/if}}
                        </h3>
                        <div class="space-ten"></div>
                        <div class="">
                            <a href='/add-to-cart/{{this._id}}' class="btn btn-outline-primary btn-block">
                                <span class="fa fa-shopping-cart"></span> افزودن به سبد خرید</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>