{{#if products }}

<div class="container">
    <div class="card">
        <table class="table table-hover shopping-cart-wrap">
            <thead class="text-muted">
                <tr>
                    <th scope="col-5">نام محصول</th>
                    {{!-- <th scope="col-md-3" width="50px">تعداد</th> --}}
                    <th scope="col-2" width="200px" class="text-right">ویرایش</th>
                </tr>
            </thead>
            <tbody>
                {{#each products}}
                <tr>
                    <td>
                        <figure class="media">
                            <div class="img-wrap">
                                <a href="/details/{{this.item._id}}">
                                    <img src="{{this.item.imagePath}}" class="img-thumbnail img-sm"></div>
                            </a>
                            <figcaption class="media-body">
                                <a href="/details/{{this.item._id}}">
                                    <h5 class="title text-truncate">{{this.item.title}} <sup style="color: lightgray;"> (x{{this.qty}})</sup>
                                    </h5>
                                </a>
                                <dl class="param param-inline small">
                                    <dt>{{this.item.price}} تومان</dt>
                                    <dd></dd>
                                </dl>
                                {{!-- <dl class="param param-inline small">
                                    <dt>Color: </dt>
                                    <dd>Orange color</dd>
                                </dl> --}}
                            </figcaption>
                        </figure>
                    </td>
                    {{!-- <td>
                        <input type="number" 
                            value="{{this.qty}}" 
                            style="width: 70px;"
                            name="countPurchace"/>
                        <h5>{{this.qty}}</h5>
                    </td> --}}
                    {{!-- <td>
                        <div class="price-wrap">
                            <var class="price">USD {{this.price}}</var>
                            <small class="text-muted">(USD5 each)</small>
                        </div> <!-- price-wrap .// -->
                    </td> --}}
                    <td class="text-right">
                        {{!-- <a title="" href="" class="btn btn-outline-success" data-toggle="tooltip"
                            data-original-title="Save to Wishlist"> <i class="fa fa-heart"></i></a> --}}
                        <a href="/remove/{{this.item._id}}" class="btn btn-outline-danger"> × حذف</a>
                        {{!-- <a href="/reduce/{{this.item._id}}" class="btn btn-outline-warning"> × Reduce</a> --}}
                    </td>
                </tr>
                {{/each}}

            </tbody>
        </table>
        <a href="/checkout" class="btn btn-block btn-success">Checkout <strong>Total: {{totalPrice}} $</strong></a>

    </div> <!-- card.// -->

</div>
<!--container end.//-->


<hr>

{{else}}

<div class="container">
    <div class="card">
        <div class="row">
            <div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
                <h2>No Items in Cart! </h2>
            </div>
        </div>
    </div>
</div>

{{/if}}