{{#if products }}

<div class="container">
    <div class="card">
        <table class="table table-hover shopping-cart-wrap">
            <thead class="text-muted">
                <tr>
                    <th scope="col-5" class="tableHeaderFarsi">نام محصول</th>
                    {{!-- <th scope="col-md-3" width="50px">تعداد</th> --}}
                    <th scope="col-2" width="200px" class="text-right tableHeaderFarsi">ویرایش</th>
                </tr>
            </thead>
            <tbody>
                {{#each products}}
                <tr>
                    <td>
                        <figure class="media">
                            <div class="img-wrap">
                                <a href="/details/{{this.item._id}}">
                                    <img src="{{this.item.imagePath}}" class="img-thumbnail img-sm"></div>
                            </a>
                            <figcaption class="media-body">
                                <a href="/details/{{this.item._id}}">
                                    <h5 class="title text-truncate">{{this.item.title}} <sup class="farsi" style="color: lightgray;"> (x{{this.qty}})</sup>
                                    </h5>
                                </a>
                                <dl class="param param-inline small">
                                    <dt class="farsi">تومان {{this.item.price}}</dt>
                                    <dd></dd>
                                </dl>
                            </figcaption>
                        </figure>
                    </td>
                    <td class="text-right" style="vertical-align: middle;">
                        <a href="/remove/{{this.item._id}}" class="btn btn-outline-danger buttonFarsi"> × حذف</a>
                    </td>
                </tr>
                {{/each}}

            </tbody>
        </table>
        <a href="/checkout" class="btn btn-block btn-success farsi">ثبت سفارش <strong class="farsi">مجموع: {{totalPrice}} تومان</strong></a>

    </div> <!-- card.// -->

</div>
<!--container end.//-->


<hr>

{{else}}

<div class="container">
    <div class="card">
        <div class="row">
            <div class="col-md-10 col-md-offset-2" style="text-align: center;">
                <h2>سبد خرید خالی است</h2>
                <br>
                <img width="600" height="800" src="https://image.flaticon.com/icons/svg/102/102661.svg" alt="">
            </div>
        </div>
    </div>
</div>

{{/if}}