<h2>Products</h2>
<hr>

<a href="/ps4/admin/product/add" class="btn btn-primary btn-block">Add a new Product</a>

<table class="table table-hover ">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">title</th>
            <th scope="col">description</th>
            <th scope="col">price</th>
            <th scope="col">Action</th>

        </tr>
    </thead>
    {{#each products}}

    <tr>
        <td>{{@index}}</td>

        {{#unless this.available}}
        <td style="color:red">{{this.title}}</td>
        {{else}}
        <td>{{this.title}}</td>
        {{/unless}}

        <td>{{trimString this.description 10}}...</td>
        <td>{{this.price}}</td>
        <td>
            <a href="/ps4/admin/product/delete/{{this._id}}" class="btn btn-danger">Delete</a>
            <strong>|</strong>
            <a href="/ps4/admin/product/edit/{{this._id}}" class="btn  btn-secondary ">edit</a>
        </td>

    </tr>

    {{/each}}

</table>
